<component name="ArtifactManager">
  <artifact type="war" name="springMVC-Mybatis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="cn.com.wl.war">
      <element id="artifact" artifact-name="springMVC-Mybatis:war exploded" />
    </root>
  </artifact>
</component>